@page "/charts"

<h3>Charts</h3>


<div class=" row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                Bar Chart
            </div>
            <div class="card-body">
                <canvas class="my-4 h-25" id="bar"></canvas>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                Pie Chart
            </div>
            <div class="card-body">
                <canvas class="my-4 h-25" id="pie"></canvas>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var barChart = document.getElementById('bar').getContext('2d');
    var myBarChart = new Chart(barChart, {
        type: 'bar',
        data: {
            labels : ['001', '002', '003'],
            datasets: [{
                label : 'Bar Chart',
                data : [100, 200, 300],
                backgroundcolor : 'rgba(6, 128, 250)'
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    })

    var pieChart = document.getElementById('pie').getContext('2d');
    var myPieChart = new Chart(pieChart, {
        type: 'pie',
        data: {
            labels: ['001', '002', '003'],
            datasets: [{
                label: 'Pie Chart',
                data: [100, 200, 300],
                backgroundcolor: 'rgba(6, 128, 250)'
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    })
</script>


@code {

}
