@page "/results/plots"
@using Data;
@using Data.ViewModels;
@using Services;
@using StockTradingApp.Services.Interfaces;
@using System.Text.Json
@inject IResultService resultService
@inject ITradeService tradeService
@inject IJSRuntime JS

<style>
    .table-net {
        border-radius: 10px;
        padding: 10px;
        width: 60%;
        background-color: #EAECF1;
        text-align: center;
        margin: auto;
    }

    .line-chart {
        width: 45%;
    }

    .table-responsive {
        max-height: 285px;
    }

    .card-body {
        background-color: #F2F3F5;
    }

    .card-header {
        background-color: #3C404A;
        color: white;
    }
</style>


<div class=" row">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                Cumulative $ Profit/Loss
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <canvas id="CumulativePnlPos"></canvas>
                    </div>
                    <div class="col-4 mt-4 table-responsive">
                        <table class="table table-hover table-striped table-net">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>$ P/L</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int tradeCount = 1;
                                }
                                @foreach (var trades in cumulativePnlPositionVM)
                                {
                                    <tr>
                                        <td>@tradeCount</td>
                                        <td class="fw-bold" style="color: @GetColor(trades.CumulativeDollarPnl)">@trades.CumulativeDollarPnl.ToString("C")</td>
                                    </tr>
                                    tradeCount++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@code {

    public List<MonthlyResultViewModel> monthlyResultVM = new List<MonthlyResultViewModel>();

    public List<CumulativePnlPositionViewModel> cumulativePnlPositionVM = new List<CumulativePnlPositionViewModel>();

    protected override async Task OnInitializedAsync()
    {

        await LoadCumulativePnlPos();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await ConfigureCharts();
            StateHasChanged(); // Trigger a re-render after SetChart
        }
    }

    public async Task LoadMonthly()
    {
        monthlyResultVM = await resultService.GetMonthlyTestResults();
    }

    private async Task SetChart(string canvasId, string onAnimationComplete, string chartType, object chartData)
    {
        await JS.InvokeVoidAsync("createChart", new
        {
            canvasId,
            onAnimationComplete,
            chartType,
            chartData
        });
    }

    private async Task ConfigureCharts()
    {
        var CumPnlData = new
        {
            labels = cumulativePnlPositionVM.Select((p, index) => index + 1),
            datasets = new object[]
            {
                new
                {
                    borderColor = "#A0AAC1",
                    backgroundColor = "rgba(160, 170, 193, 0.2)",
                    data = cumulativePnlPositionVM.Select(p => p.CumulativeDollarPnl)
                }
            }
        };
        await SetChart("CumulativePnlPos", "function", "line", CumPnlData);

        // var chartData2 = new
        // {
        //     labels = cumulativePnlPositionVM.Select((p, index) => index + 1),
        //     datasets = new object[]
        //     {
        //         new
        //         {
        //             borderColor = "#A0AAC1",
        //             backgroundColor = "rgba(160, 170, 193, 0.2)",
        //             data = cumulativePnlPositionVM.Select(p => p.CumulativeDollarPnl)
        //         }
        //     }
        // };
        // await SetStock("myChart2", "function", "line", chartData2);
    }

    private async Task LoadCumulativePnlPos()
    {
        cumulativePnlPositionVM = await tradeService.GetCumulativePnl();
        StateHasChanged();
    }

    public string GetColor(decimal? value)
    {
        return value >= 0 ? "green" : "red";
    }

}
