<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">StockTradingApp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="account">
                <span class="oi oi-person" aria-hidden="true"></span> Account
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="trades">
                <span class="oi oi-list" aria-hidden="true"></span> Trades
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="combined">
                <span class="oi oi-list" aria-hidden="true"></span> Transactions
            </NavLink>
        </div>
        <div class="nav-item px-3" @onclick="ExpandSubMenu">
            <NavLink class="nav-link" href="results">
                <span class="oi oi-graph " aria-hidden="true"></span> Results
            </NavLink>
            @if (expandSubMenu)
            {
                <div class="nav flex-column">
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="results/plots" @onclick="HoldMenuOpen">
                            <span class="oi oi-file " aria-hidden="true"></span> Plots
                        </NavLink>
                    </div>
                </div>
            }
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private bool expandSubMenu = false;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void ExpandSubMenu()
    {
        expandSubMenu = !expandSubMenu;
    }

    private void HoldMenuOpen()
    {
        expandSubMenu = false;
    }
}
